.root__heroDetail
    display: flex
    justify-content: center
    align-items: center
    flex-direction: row
    flex-wrap: wrap
    .tarjeta
        display: flex
        justify-content: center
        align-items: flex-start
        border-radius: 30px
        ul
            margin-top: 20px
            li
                margin: 15px 0px
                font-size: 1.5rem
        p
            display: flex
            justify-content: center
            align-items: center
            background-color: red
            min-width: 30%
            min-height: 50px
        img
            max-width: 250px