*
    margin: 0
    padding: 0
    box-sizing: border-box
    font-family: ubuntu
    font-size: 16px
    color: black
#root
    background-color: white
    padding: 20px !important
    min-height: 100vh
    min-width: 100vw
nav
    border-radius: 15px
    padding: 10px !important
    margin-bottom: 20px !important
    display: flex
    justify-content: space-between
    align-items: center
    flex-direction: row
    .nombreuser
        color: lightblue
        font-weight: 700
        margin: auto 20px !important
.form-control
    min-width: 30vw !important
    margin: 0px 25px !important
.fondodefault
    background-size: cover
    background-repeat: no-repeat
    background-position: center